body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
}


#matchHistory {
  width: 30%; /* Adjusted width */
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto; /* Centered the div */
  border-radius: 10px;
  background-color: #f9f9f9;
}

#matchHistory h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
}

.match-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.match-item:hover {
  background-color: #e9e9e9;
  border-color: #bbb;
}

.match-container {
  /* Your styles for match container */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ddd; /* Example style */
}

.match-scoreboard {
  /* Your styles for match scoreboard */
  display: flex;
}

.match-team {
  /* Your styles for team container */
  display: flex;
  align-items: center;
  padding: 10px;
}

.match-team-red {
  background-color: red;
  color: white;
  flex-basis: 50%;
}

.match-team-yellow {
  background-color: yellow;
  color: black;
  flex-basis: 50%;
}

.match-score {
  /* Your styles for team score */
  font-size: 2em;
  margin-right: 20px;
  margin-left: 20px;
}

.match-team-name {
  /* Your styles for team name */
  font-weight: bold;
}

.match-details {
  /* Your styles for match details section */
  display: flex;
  align-items: center;
  padding: 10px;
}

.edit-match-btn, .match-info-btn {
  /* Your styles for buttons */
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.match-dashboard-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take full width */
  margin-top: 20px; /* Add some space above the button */
}

.goToDashboardButton {
  padding: 15px 30px;
  background-color: #9e5cb8; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none; /* In case you change it to an <a> tag */
}

.goToDashboardButton:hover {
  background-color: #9e5cb8; /* Darker blue for hover */
}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns children to the start of the flex container */
}

.match-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.match-players {
  width: 100%;
  margin-top: 10px; /* Adjust as needed for spacing */
}

.match-stats {
  display: none; /* Hidden by default */
  width: 100%;
}

.match-stats-expanded {
  display: block; /* Show when expanded */
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
}

.stats-table th, .stats-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.stats-table th {
  background-color: #f2f2f2;
}

.stats-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stats-table tr:hover {
  background-color: #e8e8e8;
}

.scoreboard-button {
  background-color: #e4ad23;
  color: black;
  padding: 20px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}